<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCg_YRUek2l46KLP-Sgj2gdd5AdMNi-Osg</string>
	<key>GCM_SENDER_ID</key>
	<string>981763077162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CODEHUB.TanksBattleCity1985</string>
	<key>PROJECT_ID</key>
	<string>tanks-1985-c3d81</string>
	<key>STORAGE_BUCKET</key>
	<string>tanks-1985-c3d81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981763077162:ios:a49244f132fed37206bf53</string>
</dict>
</plist>